.Cart{
    margin: 0;
    padding: 0;
} 

.cart-container h3{
    text-transform: capitalize;
    justify-content: center;
}
.cart-container-details{
    display: flex;
    gap: 30px;
       
}
.cart-container-include{
    padding-top: 10px;
    align-items: center;

}

.cart-container-details .img img{
  padding: 0px;
  margin-top: 25px;
  width: 320px;
  height: 300px;
  object-fit: cover;
  justify-content: center;
 
}
.cart-container-include span{
    font-weight: bold;
    font-size: 20px;
}
@media (max-width:650px) {
    .Cart{
        padding: 5px;
    }
    .cart-container-details .img{
        padding: auto;
        margin: 10px;
        margin-bottom: 0px;
    }
    .cart-container-details{
        display: grid;
}
    .cart-container{
        padding: 0;
    }
    p{
        width: 325px;
}   .cart-container h3{
     margin-bottom: 30px;
}
    
}
